<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wstvremote">

    <application
        android:allowBackup="true"
        android:label="WsTVRemote"
        android:theme="@android:style/Theme.Material.Light">

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="TV Remote">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>